Package: clientupdate
Version: 1.0-1
Section: base
Architecture: i386
Priority: optional
Depends: bash, wget, ca-certificates
Recommends: openssl,
 openvpn,
 ssh,
 safe-rm,
 ntpdate,
 x11vnc,
 haveged,
 seahorse,
 ifupdown,
 gufw,
 fprintd,
 libpam-fprintd,
 opensc,
 wakeonlan,
 msmtp,
 p7zip-full,
 p7zip-rar,
 pigz,
 xserver-xorg-video-all,
 xserver-xorg-input-all,
 linux-firmware,
 mesa-utils,
 vainfo,
 vdpauinfo,
 clinfo,
 hwinfo,
 procinfo,
 libvdpau-va-gl1,
 vdpau-va-driver,
 gstreamer1.0-vaapi,
 fancontrol,
 paman,
 pasystray,
 pavucontrol,
 paprefs,
 padevchooser,
 iperf,
 powertop,
 kpartx,
 lvm2,
 mdadm,
 gdebi-core,
 linuxlogo,
 neofetch,
 smartmontools,
 ethtool,
 cpufrequtils,
 lm-sensors,
 psensor,
 hddtemp,
 vim,
 curl,
 whois,
 dnsutils,
 net-tools,
 elinks,
 pv,
 htop,
 iotop,
 nmon,
 lsscsi,
 nano,
 screen,
 nmap,
 aircrack-ng,
 reaver,
 cpuid,
 baobab,
 gparted,
 grub-ipxe,
 ipxe,
 vlc,
 transmission,
 simplescreenrecorder,
 audacious,
 gimp,
 pidgin,
 libreoffice,
 libreoffice-l10n-es,
 calibre,
 blender,
 gnome-system-monitor,
 mate-system-monitor,
 gnome-clocks,
 remmina,
 ffmpeg,
 yt-dlp,
 unetbootin,
 zim,
 compizconfig-settings-manager,
 xdg-utils,
 qemu-system,
 virt-manager,
 mediainfo,
 nethogs,
 tree,
 eog,
 munin-node,
 collectd,
 binwalk,
 strongswan,
 strongswan-nm,
 libcharon-standard-plugins,
 libcharon-extra-plugins,
 network-manager-strongswan,
 guake,
 i7z,
 meld,
 stockfish,
 jerry,
 cheese,
 cloud-guest-utils,
 cifs-utils,
 xnest,
 mkvtoolnix,
 mkvtoolnix-gui,
 exfat-fuse,
 exfatprogs,
 ntfs-3g,
 bpfcc-tools,
 ncdu,
 mailutils,
 wifite,
 flatpak,
 gnome-software-plugin-flatpak,
 extrepo
Maintainer: vik <vik@izanagi>
Description: Updates the system
 This script will update the most important system software (from a workstation computer point of view).
