[Desktop Entry]
Version=1.0
Name=mkv transcode for streaming (h265)
GenericName=mkvstream
Exec=terminal -e "/usr/local/bin/mkvstream.sh h265 %f"
Icon=ffmpeg
Terminal=false
Type=Application
Categories=AudioVideo;Player;
MimeType=video/x-matroska;
Keywords=mkv;mp4;conversion;convert;
