[Desktop Entry]
Version=1.0
Name=mkv transcode single file to mp4
GenericName=mkvtrans
Exec=terminal -e "/usr/local/bin/mkvtrans.sh %f"
Icon=ffmpeg
Terminal=false
Type=Application
Categories=AudioVideo;Player;
MimeType=video/x-matroska;
Keywords=mkv;mp4;conversion;convert;
